<div class="row">
  <div class="col-6 mx-auto">
    <div class="card m-2 p-4">
      <form [formGroup]="addEditItem" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="itemName">Item Name</label>
          <input type="text"
                 class="form-control"
                 id="itemName"
                 formControlName="itemName">
        </div>
        <div class="form-group">
          <label for="itemDescription">Item Description</label>
          <input type="text"
                 id="itemDescription"
                 class="form-control"
                 formControlName="itemDescription">
        </div>
        <div class="form-group">
          <label for="itemPrice">Item Price</label>
          <input type="text"
                 id="itemPrice"
                 class="form-control"
                 formControlName="itemPrice">
        </div>
        <div class="form-group">
          <label for="itemIngrediants">Item Ingrediants</label>
          <input type="text"
                 id="itemIngrediants"
                 class="form-control"
                 formControlName="itemIngrediants">
        </div>
        <div class="form-group">
          <label for="itemImage">Item Image</label>
          <input type="text"
                 id="itemImage"
                 class="form-control"
                 formControlName="itemImage">
        </div>
        <input type="hidden" formControlName="itemAvailable">
        <button type="submit" class="btn btn-primary">{{editable ? 'Save' : 'Add'}}</button>
      </form>
    </div>
  </div>
</div>
